body {

}

.crt_group button{
    border: 1px solid blue;
    float: left;
}


.creation_button {
    height: 50px;
    width: 50px;
    display:flex;
    align-items:center;
    justify-content: center;
}

.deletion_button {
    height: 50px;
    width: 50px;
    display:flex;
    align-items:center;
    justify-content: center;
}

.link_github {
    width = 50;
    height = 1000;
    min-height: 10em;
    display: table-cell;
    vertical-align: middle
}