body {

}

.crt_group button{
    border: 1px solid blue;
    float: left;
}


.creation_button {
    height: 50px;
    width: 50px;
    display:flex;
    align-items:center;
    justify-content: center;
}

.deletion_button {
    height: 50px;
    width: 50px;
    display:flex;
    align-items:center;
    justify-content: center;
}

a {
    font-family: Impact, sans-serif;
    color: #CE937;
    position: fixed;
    text-decoration: none;
    border: 2px solid red;
    padding: 5px;
    top: 50%
}