{% load static %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MyBlog</title>
  <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>
    <form action="{% url 'create' %}" method="POST">
        {% csrf_token %}
        <div class="crt_group">
            <button class="creation_button" type="submit" >
                <img src="{% static 'img/Creation_button.png' %}">
            </button>
        </div>
    </form>

    <!-- КОД ДЛЯ ОБРАБОТКИ УДАЛЕНИЯ ЗАМЕТКИ, НЕ ЗАБУДЬ ЗАГРУЗИТЬ ТЕГИ КАК В КНОПКИ СОЗДАНИЯ
    <form action="{% url 'delete' %}" method="POST">
        <button class="deletion_button" type="submit" >
            <img src="{% static 'img/Deletion_button.png' %}">
        </button>
    </form>
    -->
    <div id="link_github">
        <a href="https://github.com/Voryag">Мой GitHub</a>
    </div>


</body>

